<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入vue -->
  <script src='https://lib.baomitu.com/vue/3.2.31/vue.global.js'></script>
  <!-- 引用组件库 -->
  <script src="../dist/datav.umd.js"></script>
  <!-- 引入iconfont -->
  <script src="http://at.alicdn.com/t/font_3188555_87dvlqjwtlj.js"></script>
  <style>
    html,body,div{
     padding: 0;
     margin:0
    }
    #app{
      padding:0;
      margin:0;
      height:100vh;
    }
    .box{
      /* display: flex;
      justify-content: center;
      align-items: center;
      height:100vh; */
      /* background-color: black; */
    }
  </style>
</head>
<body>
   <div id="app">
     <div class='box' >
      <p > <V-Switch v-model="test" :type="1" left-Value="" right-Value="" ></V-Switch></p>
       <p style="width:76px;height:36px;"> <V-Switch v-model="test" :type="1" left-Value="YES" right-Value="NO" :is-Radius="false"></V-Switch>  </p>
       <p style="width:76px;height:36px;"> <V-Switch v-model="test" :type="1"  right-color="yellow"></V-Switch>  </p>
       <p style="width:76px;height:36px"> <V-Switch v-model="test" left-Value="YES" right-Value="NO" :type="2" left-color="green" right-color="#999"></V-Switch>  </p>
       
       <p style="width:200px;height:36px"> <V-Switch v-model="test" left-Value="YES" right-Value="NO" :type="2" left-color="green" right-color="#999"></V-Switch>  </p>

       <p> <V-Switch v-model="test" style="transform: scale(0.6);"  :type="2" left-color="#409eff" right-color="#999"></V-Switch>  </p>

       <p><V-Switch v-model="test" left-Value="YES" right-Value="NO" :type="3"  :is-Radius="false"></V-Switch>  </p>
      </div>
   </div>
   <script>
     let app = Vue.createApp({
       setup(){
         let state = Vue.reactive({
           test:true
         })
         return {
           ...Vue.toRefs(state)
         }
       }
     })
     app.use(datav)
     app.mount('#app')
   </script>
</body>
</html>